# =========================
# Maven / Build output
# =========================
target/
*.log

# =========================
# Java compiled files
# =========================
*.class

# =========================
# macOS system files
# =========================
.DS_Store

# =========================
# IDE: VS Code
# =========================
.vscode/

# =========================
# Environment / temp files
# =========================
.env
*.tmp
*.swp

# =========================
# logs / outputs
# =========================
logs/
output/
reports/

# =========================
# My artifiacts
# =========================
checklist.html
structure.html